<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body id="menupage">
      <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
            <ul class="right hide-on-med-and-down">
                <%if (!user){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              <%}%>
              <%if (user){ %>
              <li><a href="/logout">Logout</a></li>
              <%}%>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <%if (!user){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              <%}%>
              <%if (user){ %>
              <li><a href="/logout">Logout</a></li>
              <%}%>
          </ul>
     
    <div class="row1 center-block">

      <div class="bk-img">
        <p class="center code pp "><%=code%></p>
      </div>
            <%if (products && products.length){ %>

                  <ul class="collapsible">
                      <% for (var i=0; i < products.length; i++){%>
                          <li> <div class="collapsible-header value1"><%=products[i].name %></span></div>
                            <div class="collapsible-body" > 
                            <div class="row">
                                <div class="col s2"><b>Price:</b></div>
                                <div class="col s8"><span class="value2"> <%=products[i].price %> </span></div>
                                <div class="col s2"><button  class="btn-small  waves effect btn-order">Order</button></div>
                                </div>
                              </div></li>
                          <%}%>
                 
                   </ul><%}%>
    </div>
 
    <div class="row2 center-block ">

        <p class="order-title center "> <b>Your Order</b></p>
        <div class="summary"></div>
       <div class="order-row row"  >    <div class="col s12"><a href="#modal1" class="submit btn-small waves-effect center modal-trigger" >submit</a></div></div>
    
</div>

 

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content ">
      <form action="/order" method="post" class="mainDiv" >
        <div >
            <div class="row">
                <p class="center ">PLACE ORDER</p></div> 
        <div class="row ">
        
          <div class=" col s4">
            <p>Address</p>
          </div>
          <div class=" col s8">
            <textarea name="address" id="address" style="background-color:white; border:solid white 1px; height:50px; border-radius:10px; color:black"></textarea>
          </div>
          </div>
       
          <div class="row ">
            
              <div class=" col s4">
                <p>Phone</p>
              </div>
              <div class=" col s8">
                <textarea name="phone" id="phone" style="background-color:white; border:solid white 1px; height:50px; border-radius:10px"></textarea>
              </div>
              </div>
        
      
          <div class="row " hidden="true">
            <div class="input-field col s12">
              <input id="tray" type="text"  name="tray"  >
              <label for="tray" >Tray</label>
            </div>
            </div>
            <div class="row" style="margin-top:5px; margin-bottom:2px; font-size:12px">
              <div class=" col s2">
                <label >
                  <input name="group1" type="radio" checked onclick="pay3()" class="with-gap"/>
                  <span ></span>
                  </label>
                </div>
              <div class=" col s10">
              <span class="span">Pay on Delivery</span>
             </div>
            </div>
          <div class="row" style="margin-top:2px; font-size:12px">
            <div class=" col s2">
              <label >
                <input name="group1" type="radio"  onclick="pay3()" class="with-gap" />
                <span ></span>
                </label>
              </div>
            <div class=" col s10">
            <span class="span">Pay via credit or debit card</span>
           
           </div>
          </div> 
        
        <div class="row center">
          <div class="col s12">
        <button type="submit " class="btn-small btnstyle waves-effect center ">SUBMIT</button> </div></div>
          </div>
          <div class="row center alert-<%=status%>" style="display:<%=alert%>">
            <p class="alert" role="alert" ><%=msg%></p>
            </div>
      </form>
    </div>
  
  </div>
  <div><form id='payform' onsubmit='return false;' method='POST' action='https://voguepay.com/pay/'>
    <input type='hidden' name='v_merchant_id' value=' DEMO' />
    <input type='hidden' name='merchant_ref' value='234-567-890' />
    <input type='hidden' name='memo' value='Bulk order from McAckney Web Shop' />
    <input type='hidden' name='notify_url' value='//www.mydomain.com/notification.php' />
    <input type='hidden' name='success_url' value='//www.mydomain.com/thank_you.html' />
    <input type='hidden' name='fail_url' value='//www.mydomain.com/failed.html' />
    

  <input type='hidden' name='notify_url' value='//www.mydomain.com/notification.php' />


  <input type='hidden' name='success_url' value='//www.mydomain.com/thank_you.html' />
  <input type='hidden' name='fail_url' value='//www.mydomain.com/failed.html' />

  <input type='hidden' name='total' value='13000' />

  <input type='hidden' name='closed' value='closedFunction'>
  <input type='hidden' name='success' value='successFunction'>
  <input type='hidden' name='failed' value='failedFunction'>

    <input type='hidden' name='item_1' value='Face Cap' />
    <input type='hidden' name='description_1' value='Blue Zizi facecap' />
    <input type='hidden' name='price_1' value='2000' />

    <input type='hidden' name='item_2' value='Laban T-shirt' />
    <input type='hidden' name='description_2' value='Green XXL' />
    <input type='hidden' name='price_2' value='3000' />

    <input type='hidden' name='item_3' value='Black Noni Shoe' />
    <input type='hidden' name='description_3' value='Size 42' />
    <input type='hidden' name='price_3' value='8000' />

    <input type='hidden' name='developer_code' value='pq7778ehh9YbZ' />
    <input type='hidden' name='store_id' value='25' />

    <input type='hidden' name='total' value='13000' />

    <input type='hidden' name='name' value='Customer name'/>
    <input type='hidden' name='address' value='Customer Address'/>
    <input type='hidden' name='city' value='Customer City'/>
    <input type='hidden' name='state' value='Customer State'/>
    <input type='hidden' name='zipcode' value='Customer Zip/Post Code'/>
    <input type='hidden' name='email' value='Customer email'/>
    <input type='hidden' name='phone' value= 'Customer phone '/>

</form> 
                            </div>
          

      



   
      <script src="/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//voguepay.com/js/voguepay.js"></script>
<script> 
   document.addEventListener('DOMContentLoaded', function() {
      
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });

      $(document).ready(function(){
        var order=[];
        $('.row2').css({display:'none'});
         var j;
     
        $(".btn-order").click(function(){
          var j=1;
          $('.row2').css({display:'block'});
          
      var val1=  $(".active").children("div.value1").text();
      var val2=  $(".active").find("span.value2").text();
      var code = $(".code").text();
      order.push({"name":val1, "price":val2, "code":code});
    console.log(order);  
    
     
   var element = $('<div class="row order-row"><div class="col s9 details"><button class="btn-floating waves-effect minus" >-</button><button class="btn-floating waves-effect plus">+</button><span class="j">'+j +'</span>x ' + order[order.length - 1].name +'</div> <div class="col s3 price"><b>'
    + order[order.length - 1].price +'</b></div></div>') ;
   
   $('.summary').append(element);

   $(".minus", element).click(function(){
        if (   $(this).siblings("span.j").text() > 1){
           j-- ;
           $(this).siblings("span.j").text(j);
           
          /**/
           
        }else{  $(this).parents("div.row").remove();}
        
         //  $(".j").text(j);
          });
     $(".plus",element).click(function(){
      if (   $(this).siblings("span.j").text() < 4){
        j++;
        $(this).siblings("span.j").text(j);
      }
          });    
        
     /*     $(".submit").click(function(){
  localStorage.setItem('order',JSON.stringify(order))
window.location.href="/cart"
       
        
        });       */

})
        
        

          
    })
    

     /* var ordermenu=[];
     
      function order(){
     
      var value1=document.querySelector('.value1').innerHTML;
        var value2=document.querySelector('.value2').innerHTML;
        ordermenu.push({"name":value1, "quantity":value2});
       console.log(ordermenu);
       console.log(value1);
      }

      var quantity= 1;
      function add(){
      var field=document.getElementById('quantity');
       field.value =quantity;
       quantity ++;
    }
*/
     

     
</script>
  <script>
    closedFunction=function() {
        alert('window closed');
    }

     successFunction=function(transaction_id) {
        alert('Transaction was successful, Ref: '+transaction_id)
    }

     failedFunction=function(transaction_id) {
         alert('Transaction was not successful, Ref: '+transaction_id)
    }
</script>
      <script>
        function pay3() {
            Voguepay.init({
                v_merchant_id: 'demo',
                total: 1500,
                notify_url: 'http://domain.com/notification.php',
                cur: 'NGN',
                merchant_ref: 'ref123',
                memo: 'Payment for shirt',
                recurrent: true,
                frequency: 10,
                developer_code: '5a61be72ab323',
                store_id: 1,
                loadText:'Custom load text',
                items: [
                    {
                        name: "Item name 1",
                        description: "Description 1",
                        price: 500
                    },
                    {
                        name: "Item name 2",
                        description: "Description 2",
                        price: 1000
                    }
                ],
                customer: {
                   name: 'Customer name',
                   address: 'Customer address',
                   city: 'Customer city',
                   state: 'Customer state',
                   zipcode: 'Customer zip/post code',
                   email: 'Customer email',
                   phone: 'Customer phone'
               },
                closed:closedFunction,
                success:successFunction,
                failed:failedFunction
            });
        }
     </script>
  </body>
</html>